img.max-img{
    max-width: 100%;
}

.grey-color{
    color: rgb(153, 153, 153);
}

.grey-link{
    color: rgb(153, 153, 153);
    font-family: "Helvetica Neue",Helvetica;
}

.grey-link:hover{
    color: rgb(255, 255, 255);
}

.footer-guide{
    margin-right: 15px;
}

.nike-black-btn, .nike-black-btn.white{
    background-color: #000;
    color: #fff;
    font-family: "Helvetica Neue",Helvetica;
    border-radius: calc(50px * 1);
    padding: 10px 18px;
}

.nike-black-btn.white{
    background-color: #fff;
    color: #000;
}

.nike-black-btn:hover, .nike-black-btn.white:hover{
    background-color: rgb(101, 101, 101);
}

.nike-black-btn.white:hover{
    background-color: rgb(223, 223, 223);
}

.product-name{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: pre;
}

.product-category{
    color:rgb(137, 137, 137);
}

.media-show-join{
    display: none;
}

.media-hide-join{
    display: block;
}

@media(max-width:420px){
    .footer-guide{
        margin-right: none;
    }

    .media-show-join{
        background-color:rgb(243, 225, 180);
        display: block;
    }
    
    .media-hide-join{
        display: none;
    }
}

@media(max-width:620px) and (min-width:421px){
    .footer-guide{
        margin-right: none;
    }

    .media-show-join{
        background-color:rgb(243, 225, 180);
        display: block;
    }
    
    .media-hide-join{
        display: none;
    }
}

@media(max-width:820px) and (min-width:621px){
    .footer-guide{
        margin-right: none;
    }

    .media-show-join{
        background-color:rgb(243, 225, 180);
        display: block;
    }
    
    .media-hide-join{
        display: none;
    }
}